a {
  color: #aaa;
}

a.active {
  color: #888;
}
a:visited {
  color: #aaa;
}
a:hover {
  color: #888;
  text-decoration: none;
}

html,
body,
body > div,
body > div > div {
  height: 100vh;
  background: #eee;
}
