a {
  color: #aaa;
}

a.active {
  color: #888;
}
a:visited {
  color: #aaa;
}
a:hover {
  color: #888;
  text-decoration: none;
}

html,
body,
body > div,
body > div > div {
  height: 100vh;
  background: #eee;
}

.card {
  margin: 1rem;
  border-radius: 8px;
  background: white;
  padding: 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
